<div id="form-edition" style="display:flex">
    <div class="background-form" id="bg-edit-form"></div>
    <form action="/<%= action %>" method="post">
        <textarea name="task" id="task" placeholder="<%= value %>" value="<%= value %>"></textarea>
        <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>        
    </form>
</div>