<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>My Tasks</title>
</head>

<body>

    <!--Form-->
    <% if (task==null) { %>
        <%- include('./components/form', {action: "create", value: "", idBtn: "addButton", nameBtn: "Adicionar"})%>
    <% } else { %>
        <%- include('./components/formEdition', {action: `updateOne/${task._id}`, value: task.task, idBtn: "updateButton", nameBtn: "Atualizar"}) %>
    <% } %>

     <div class="board">

        <% if (message != "") {%>
            <%- include('./components/messages', {message: message, type: type})  %>
        <% } %>
    
        <header>
    
            <div class="date-field">

                <div class="date">

                    <div id="today"></div>

                    <div id="day-of-the-week"></div>

                </div>

                <div id="current-hour"></div>

            </div>                    

            <div class="line"></div>
            
    
        </header>
     
        <section id="tasks">
            <ul>
                <% tasksList.forEach((task)=>{ %>
                    <li>
                        <div class="edition-buttons">
                            <a                                
                                class="btnUpdate" 
                                href="/getById/<%= task._id %>/update">
                                EDITAR
                            </a>
                            
                            <a 
                                class="btnDelete" 
                                href="/getById/<%= task._id %>/delete">
                                REMOVER
                            </a>
                        </div>
                        <a 
                            href="/check/<%= task._id %>" 
                            class="check-<%= task.check %> notation">
                            <%= task.task %>
                        </a>         
                    </li>
                <% }) %>
            </ul>
            
        </section>

        <div 
            class="open-form" 
            onclick="openForm()">
        </div>
      
        <!--Delete confirmation-->
        <% if (taskDelete !=null) { %>
            <%- include('./components/modalDel', {task: taskDelete})  %>
        <% } %>

    </div>

    

    <div class="background-board"></div>


            <script src="script.js"></script>
</body>

</html>